/* body
{
    color:red;
}
h1
{
    color:blue;
}
h2
{
    color:green;
}
#lib-header
{
    color:grey;
}
.para
{
    color:pink;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

 :root
{
    --primary-color:#7C3AED;
    --dark-gray:#6b7280;
}
body
{
    font-family:'montserrat', 'sans-serif';
}

hr
{
    margin:2rem 0rem;
}
/* container */
/* .(dot) it is use for class and # used for ID */
.container {
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0rem 1rem;
    
}

.container-center
{
   max-width: 600px;
   margin: auto;
}

/* links */
/* links has two things primary and secondary links: so we need to define a color!
primary color for our website!
*/

.link
{
    text-decoration: none; 
    padding: 0.5rem 1rem;
}

.link-primary
{
    
      background-color: var(--primary-color);
      border-radius: 0.5rem;
      color:white;
}

.link-secondary
{
    color: var (--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */
.list-non-bullet
{
    list-style:none;
}

.list-item-inline
{
    display: inline;
    padding:0rem 0.5rem;
}
/* nevigation */
.nevigation
{
    background-color: var(--primary-color);
    color:white;
    padding:1rem;
    border-bottom-left-radius: 1rem;
}
.nevigation .nav-brand
{
    font-weight: bold;
    font-size: 1.1rem;
}
.nevigation .nav-pills
{
    text-align: right;
}
.nevigation .link
{
    color:white;
}
.nevigation .link-active
{
    font-weight:bold;
}

/* heading */
.hero
{
    padding:2rem;
    text-align:center;   
}
.hero .hero-img
{
    max-width:350px;
    display:block; 
    margin:auto;
}

.hero .hero-heading
{   
    padding-top: 1rem;
    color:var(--dark-gray);
}
.hero .heading-inverted
{
    color: var(--primary-color);
}